<Layouts.admin flash={@flash}>
  <.header>
    Context Prompt
    <:actions>
      <.button
        variant="primary"
        navigate={~p"/prompts/#{@prompt}/edit"}
      >
        <.icon name="hero-pencil-square" /> Edit
      </.button>
    </:actions>
  </.header>

  <.list>
    <:item title="Text">{@prompt.text}</:item>
  </.list>
</Layouts.admin>
